<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="container-fluid">
        <h2 class="form-signin-heading" style="margin-left: 100px; font-size: large;">Login</h2>
        <div *ngIf="invalidLogin" class="alert alert-danger" style="margin-left: 100px; color: red;">Invalid username or password.</div>
        <br/>
        <label for="username" class="sr-only" style="margin-left: 100px;">Email address</label>
        <input type="email" id="username" name="username" ngModel class="form-control" style="margin-left: 5px;" placeholder="User Name" required autofocus>
        <br/><br/>
        <label for="password" class="sr-only" style="margin-left: 100px;">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control" style="margin-left: 5px;" placeholder="Password" required>
        <br/><br/>
        <button class="btn btn-lg btn-primary btn-block" style="margin-left: 100px; font-size: medium;" type="submit">Login</button>
    </div>
</form>